h1 {
    font-family: 'Fox Cavalier';
    background-image: linear-gradient(#00ddfa, #c0c0c0, #fa00d9);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: white;
    font-size: 6vw;
}

.bannerDiv {
    width: 100%;
    background-color: #242321;
}