@use 'theme';

.conveyerBelt {
    width: 100%;
    height: auto;
    margin-top: 10vw;
}

.chute {
    width: 20%;
    height: auto;
    display: block;
    z-index: 999;
    position: relative;
}

.scene {
    background-color: theme.$base-color;
    height: fit-content;
}

.conveyerBeltSection {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.word {
    color: white;
    font-family: 'PT Sans', sans-serif;
    width: fit-content;
    display: block;
    animation: movingThroughAssemblyLine 2s linear infinite;
    font-size: 2em;
}

@keyframes movingThroughAssemblyLine {
    0% {
        transform: rotate(9deg) scale(0.9) translateX(-3.5vw);
    }
    5% {
        transform: rotate(0deg) scale(1.0) translate(2vw, 0);
    }
    10% {
        transform: rotate(0deg) scale(1.0) translate(2vw, 10vw);
    }

    80% {
        transform: rotate(0deg) scale(1.0) translate(40vw, 10vw);
    }

    90% {
        transform: rotateZ(45deg) scale(1.0) translate(44vw, -23vw);
    }

    100% {
        transform: rotateZ(90deg) scale(1.0) translate(26vw, -53vw);
    }
    
}