@use 'theme';

.conveyerBelt {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.scene {
    background-color: theme.$base-color;
    height: fit-content;
    padding-top: 10em;
    padding-bottom: 10em;
}