@use 'theme';

.conveyerBelt {
    width: 100%;
    height: auto;
    margin-top: 10vw;
}

.chute {
    width: 20%;
    height: auto;
    display: block;
}

.scene {
    background-color: theme.$base-color;
    height: fit-content;
    padding-bottom: 10em;
}

.conveyerBeltSection {
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}