@use 'theme';

.profilePicture {
    padding: 0.5em;
    max-width: 42vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.vaporDialog {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    background: theme.$base-color;
    max-width: 42.8vw;
    height: fit-content;
    border: 4px solid;
    border-image-source: linear-gradient(theme.$normal-blue-color, theme.$normal-pink-color)  !important;
    border-image-slice: 1 !important;
}

.dialogTitle {
    background-color: theme.$pastel-white;
    float: left;
    font-family: "Roboto";
    font-weight:bold;
    font-size: 1em;
    width: 100%;
    padding-left: 1vw;
    border-bottom: 4px solid;
    border-image-source: linear-gradient(to right, theme.$normal-blue-color, theme.$normal-pink-color)  !important;
    border-image-slice: 1 !important;

}

.dialogContent {
    padding: 0.5em;
    font-family: "Roboto";
    max-width: 42vw;
    color: white;
    font-size: 1.1em;
}

.fakeMinusButton {
    margin: 2px 2px 2px 0;
    float: right;
    width: 3em;
    height: 3em;
    background: theme.$pastel-white;
    padding: 0;
    font-size: 0.5em;
    fill: theme.$focused-blue-color;
}

.fakeExitButton {
    margin: 2px 2px 2px 0;
    float: right;
    width: 3em;
    height: 3em;
    background: theme.$pastel-white;
    padding: 0;
    font-size: 0.5em;
    fill: theme.$focused-pink-color;
}

.downloadResumeButton {
    font-size: x-large;
    background-color: theme.$base-color;
    color: white;
    border-image-source: linear-gradient(theme.$normal-blue-color, theme.$normal-pink-color)  !important;
    border-image-slice: 1 !important;
    text-decoration: none;
    border: 2px solid;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: block;
    margin-bottom: 10px;

    &:hover {
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 4px;
        padding-bottom: 4px;
        border: 0px;
        --border-size: 3px;
        --border-angle: 0turn;
        background-image: conic-gradient(
            from var(--border-angle),
            theme.$base-color,
            theme.$base-color
        ), conic-gradient(from var(--border-angle), transparent 20%, theme.$focused-blue-color, theme.$focused-pink-color);
        background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
        background-position: center center;
        background-repeat: no-repeat;
    
        animation: bg-spin 3s linear infinite;
        @keyframes bg-spin {
            to {
                --border-angle: 1turn;
            }
        }
    }
}

 
@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}



@media only screen and (max-width: 900px) {
   .vaporDialog {
       width: 80%;
       max-width: none !important;
   }

   .dialogContent {
        width: 100%;
        max-width: none !important;
   }

   .profilePicture {
        width: 100%;
        max-width: none !important;
   }
}

@keyframes minimize {
    0% { transform: scale(1.0); }
    90% { transform: scale(0.1); }
    100% {display: none; transform: scale(0.01);}
}

#minimize {
    animation-name: minimize;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes close {
    from { opacity: 1.0; }
    to { opacity: 0; display: none;}
}

#close {
    animation-name: close;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}