.profilePicture {
    box-shadow: 10px 10px 5px #ccc;
    border: 2px solid black;
    margin-right: 2em;
    grid-area: 1 / 1 / 1 / 2;
}

.parent {
    display: grid;
    grid-template-columns: 5em 1fr;
    grid-template-rows: 10em 1fr;
    margin-left: 18em;
}

.vaporDialog {
    background-color: rgba(182, 182, 182, 0.973);
    grid-area: 1 / 2 / 2 / 2;
}