@use 'theme';

.myStory {
    height: 72vh;
    background-color: white;
}

.pipeIntake {
    margin-left: 85%;
    width: 4em;
}

.pipeIntakeReceiver {
    height: 6vh;
    background-color: theme.$normal-blue-color;
    position: relative;
    z-index: 999;
}

.pipeOutlet {
    height: 5vh;
    background-color: theme.$normal-blue-color;
    width: 50%;
    position: relative;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
}



.outtakePipe {
    height: 6vh;
    background-color: theme.$normal-blue-color;
    width: 4em;
}

.underLine {
    margin-left: 25%;
    width: calc(3em + 60%);
    background-color: theme.$normal-blue-color;
    height: 1em;
}

.dotPointsContainer {
    margin-left: 25%;
    height: 33vh;
}

.dotPointsMargin {
    background-color: theme.$normal-blue-color;
    width: 1em;
    height: 20%;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.myStoryHeading {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    color: black;
    position: absolute;
}

.time {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: theme.$normal-pink-color;
    border-radius: 25px;
    border: 1px solid theme.$normal-pink-color;
    width: fit-content;
    transform: translateX(-34%);
    position: relative;
    margin: 0;
    font-size: 1.2em;
    display: block;
}

.dotPoint {
    position: absolute;
    transform: translate(9vh, -3vh);
}

.dotPointsMarginFinal {
    background-color: theme.$normal-blue-color;
    width: 1em;
    height: 40%;
}

@keyframes moveInWithScroll {
    0% {
        transform: translate(0vh, -8vh);
    }
    100% {
        transform: translate(31vw, -8vh);
    }
}

@keyframes turnOnWithScroll {
    0% {
        color: black;
        background-color: theme.$focused-blue-color;
        border-color: theme.$focused-blue-color;
    }

    100% {
        color: white;
        background-color: theme.$focused-pink-color;
        border-color: theme.$focused-pink-color;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (prefers-reduced-motion: no-preference) {
    .myStoryHeading {
      animation: moveInWithScroll linear both;
      animation-timeline: view();
      animation-range: 10vh 40vh;
    }

    .time {
        animation: turnOnWithScroll linear both;
        animation-timeline: view();
        animation-range: 10vh 35vh;
    }

    .dotPoint {
        animation: fadeIn 1s linear both;
        animation-timeline: view();
        animation-range: 10vh 40vh;
    }
  }