@use 'theme';

.myStory {
    height: 500px;
    background-color: white;
}

.pipeOutlet {
    margin-left: 86.5%;
    height: 5vh;
    background-color: blue;
    width: 2em;
}

.intakePipe {
    margin-left: 85%;
    height: 6vh;
    background-color: blue;
    width: 4em;
}