.sidebar {
    background-color: #0081FB;
    height: 100%;
}

.sidebar li {
    color: white;
    font-family: 'Roboto';
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    padding-left: 10px;
    font-family: 'Roboto';
    color: white;
}

.sidebar p {
    margin-left: 10px;
    color: white;
}

.sidebar i {
    margin-right: 5px;
}

.sidebarHeading {
    font-family: 'Roboto';
    border-bottom: 2px white solid;
    color: white;
    font-size: large;
}

.container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important;
}

.mainpart {
    margin-top: 25px;
}

.container {
    height: 100%;
}

.row {
    height: 100%;
}

.mainHeading {
    font-family: 'Roboto';
    border-bottom: 2px solid #0081FB;
    width: 95%;
    font-size: large;
}

.summary {
    font-size: medium;
}

.experienceTime {
    margin-bottom: 0;
    color: darkslategray;
}