.RNPImage {
    width: 100%;
    height: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.imageContainer {
    position: relative;
    text-align: center;
}

.overlayedText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Roboto';
    font-size: 10vw;
}