@use 'theme';

.skillsSplit {
    margin-top: 5em;
    margin-bottom: 5vw;
    border: 4px solid;
    border-image-source: linear-gradient(theme.$normal-blue-color, theme.$normal-pink-color);
    border-image-slice: 1;
}

.skillsSplit h1 {
    color: white;
    padding-left: 1em;
}

.skillsHeader .col-md {
    padding-left: 0;
    padding-right: 0;
    background-color: theme.$base-color;
}

.workSkills {
    border: 4px solid;
    border-image-source: linear-gradient(theme.$normal-blue-color, theme.$normal-pink-color);
    border-image-slice: 1;
    background-color: theme.$pastel-white;
    padding: 1em;
}

.uniSkills {
    border: 4px solid;
    border-image-source: linear-gradient(theme.$normal-blue-color, theme.$normal-pink-color);
    border-image-slice: 1;
    background-color: theme.$base-color;
    color: white;
    padding: 1em;
}